.chat-page-title-text {
    font-size: 26px;
    color: #f3f3f3;
    letter-spacing: 2px;
}

.chat-page-title-button {
    font-size: 26px;
    color: white;
    letter-spacing: 2px;
    background: #f3f3f322;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
}